@use '../globales/colors' as *;


@mixin button {
    padding: 20px;
    background-color: $color-secundario;
    color: $color-background;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500px;
    font-family: "Rubik", sans-serif;

    box-shadow: 1px 5px 10px 1px #e5e7f3;
}

@mixin cardButton {
    color: $color-background;
    background-color: $color-secundario;
    border: none;
    border-radius: 5px;
    width: 90%;

    padding: 5% 4%;
    justify-self: center;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 450;
    box-shadow: 1px 5px 10px 1px #e5e7f3;
}

@mixin CTAButton {
    background-color: $color-accent;
    color: $color-background;

    border-radius: 10px;
    border: 0px;
    font-weight: 300;
    padding: 12px 35px;
}