@use '../globales/colors' as *;


@mixin button {
    padding: 20px;
    background-color: $color-secundario;
    color: $color-background;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500px;
    font-family: "Rubik", sans-serif;

    box-shadow: 1px 5px 10px 1px #e5e7f3;
}

@mixin cardButton {
    color: $color-background;
    background-color: $color-secundario;
    border: none;
    border-radius: 5px;
    width: 90%;

    padding: 5% 4%;
    justify-self: center;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: 450;
    box-shadow: 1px 5px 10px 1px #e5e7f3;
}

@mixin CTAButton {
    background-color: $color-accent;
    color: $color-background;
    transition: all 0.3s ease-in-out;


    border-radius: 10px;
    border: 0px;
    font-weight: 300;
    padding: 12px 35px;
    font-family: "Rubik", sans-serif;
}




@mixin h2andText-Mobile {
    display: flex;
    flex-basis: 100%;
    
    align-items: center;
    justify-content: center;
    max-height: none;
    align-content: flex-start;
    
    margin: 6em auto;
    padding: 0 3rem;
    
    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 0;
        text-align: center;
    }
    
    p {
        line-height: 29px;
        font-weight: 400;
        line-height: 29px;
    }
    
    h2 {
        margin-bottom: 20px;
    }
}

@mixin cardMobile {
    display: grid;
    align-items: center;
    justify-content: center;

    border-radius: 3%;
    box-shadow: 0px 9px 25px 5px #E2E0D9;
    padding: 2rem 1rem;

    min-width: 250px;
    max-width: 800px;


    // margin-inline: 100px;

    button {
        @include cardButton;
        margin: 0 10px;
    }

    #dots {
        margin: 20px 0;
        max-width: 700px;
        padding-top: 20px;
        padding-bottom: 5px;

    }

    h5 {
        display: flex;

        color:#222222;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;

        justify-content: center;
        margin: 1rem 0
    }

    p {
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
        margin: 0px;
        
        text-align: center;
        font-size: 17px;
        color: $color-textParagraph;
    }
}

    @mixin cardDesktop {
        @media (max-width: 900px){

        .containerCards {
            display: grid;
            flex-direction: column;

            gap: 3rem;

            margin: 0 10px;
            align-items: center;
            justify-content: center;

        }

        .card {
            border-radius: 3%;
            box-shadow: 0px 9px 25px 5px #E2E0D9;
            padding: 2rem 0;
            margin: 1rem 0px;

            min-width: 250px;
            max-width: 800px;
            align-items: center;
            margin-inline: 100px;
        }

    }

}

    

    



    