.navegador {
    display:flex;
    background: grey;
    align-items: center;

}

.logo {
    margin-left: 150px;
    padding: 50px;
}

.menu {
    display:flex; 
    float: right;

}


ul {
    display:flex; 
    list-style-type: none;

}

li {
    padding: 8%;
    display: inline-flex;

}