@use '../globales/setup' as *;

.textoCentral {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    align-items: center;
    justify-content: center;
    align-content: flex-start;
    text-align: center;

    margin: 3em auto;
    padding: 0 3rem;

    
    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0;
        text-align: center;
    
    }

    p {
        line-height: 29px;
        font-weight: 400;
    }

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 3em auto;

        gap: 10px;

        h2 {
            margin: 0 
        }

        p {
            padding: 0 auto;
            margin: 1em 25%;

        }

    }

}


.card {
    @include cardMobile;

    display: grid;
    place-items: center;
    flex-direction: column;

    margin: 4rem 25%;
    align-items: center;
    justify-content: center;


    img {
        margin-top: 30px;
        margin-bottom: 10px;
    }
}


@media (min-width: $breakpoint-desktop) {

    .containerCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        margin: 5em auto;
        padding: 0 5rem;
        gap: 4rem;

    }

    .card {
        margin: 0;
        width: 300px;
        max-width: none;
    }
}




