@use '../globales/setup' as *;

// IRÁ TODO MOBILE FIRST: 768px width ya en variable

.navbarDesktop {
    display: none;

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;

        align-items: center;
        justify-content: space-between;
        margin: 3em 10%;
        gap: 1.5em;

        
        &-menu {
            display: flex; 
            flex-direction: row;

            
            img {
                max-height: 40px;
                display:flex;

            }
            
            ul {
                display: flex;
                list-style-type: none;
                align-items: center;
                flex-basis: 100%;
                padding: 0;
                gap: 3em;     
                
            }
            
            .navbarDesktop-CTAButton {
                @include CTAButton;
            }
            
            li {
                a {
                    text-decoration: none;
                }
            }
                
        }
    }
    
}



.navbarMobile {

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }

    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    
    align-items: center;
    justify-content: space-between;
    
    margin: 2.5em 2.5em;
    gap: 150px;
    
    
    &-logo {
        justify-content: left;
        
        img {
            justify-content: right;
            height: 40px;
        }
    } 
    
    .navbarMobile-containerCheck {
        
        #check {
            display: none;
        }    
        
        img {
            height: 20px;
        }
    }
    
    
}

main {
    color:aqua;
}